.project-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

/* BACK BUTTON */
.back-button {
  align-self: flex-start;

  background: transparent;
  border: none;
  font-family: "JetBrains_Mono", monospace;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 999px;

  transition: transform 0.15s ease;
}

.back-button:hover {
  transform: translateY(-1px);
  text-decoration: underline;
}

/* TITLE */
.project-title {
  font-family: "JetBrains_Mono", monospace;
  font-size: 1.8rem;
  color: #323641;
  margin: 0;
}

/* CARD BASE */
.card {
  background-color: #f8f8f8;
  padding: 1.5rem;
  border-radius: 16px;
}

/* INTRO / OUTRO */
.intro,
.outro {
  font-family: "Fragment_Mono", monospace;
  font-size: 0.9rem;
  color: #323641;
  line-height: 1.6;
  margin: 0;
  white-space: pre-line;
}

/* SECTION CARD */
.section-card {
  display: flex;
  flex-direction: column;
}

/* SECTION LAYOUT */
.section-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* TEXT */
.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text h2 {
  font-family: "JetBrains_Mono", monospace;
  font-size: 1.4rem;
  margin: 0;
  color: #323641;
}

.text p {
  font-family: "Fragment_Mono", monospace;
  font-size: 0.85rem;
  margin: 0;
  color: #323641;
  line-height: 1.5;
  white-space: pre-line;
}

/* IMAGE */
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  gap: 1rem;
  justify-content: start;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
}

.img-wrapper img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.img-wrapper .caption {
  font-size: 0.75rem;
  color: #555;
  text-align: left;
}

@media (max-width: 768px) {
  .images {
    grid-template-columns: 1fr;
  }
}
