.project-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-top: 60px;
}

/* BACK BUTTON */
.back-button {
  position: fixed;
  top: 60px;
  left: 20px;

  background: white;
  border: 1px solid #e0e0e0;
  font-family: "JetBrains_Mono", monospace;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 999px;

  z-index: 1100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  transition: all 0.2s ease;
}
.back-button:hover {
  transform: translateY(-2px);
  background: #f8f8f8;
}

/* TITLE */
.project-title {
  font-family: "JetBrains_Mono", monospace;
  font-size: 1.8rem;
  color: #323641;
  margin: 0;
}

/* SUBTITLE */
.project-subtitle {
  font-family: "JetBrains_Mono", monospace;
  font-size: 1.2rem;
  color: #323641;
  margin: 0;
}

/* CARD BASE */
.card {
  background-color: #f8f8f8;
  padding: 1.5rem;
  border-radius: 16px;
}

/* INTRO / OUTRO */
.intro,
.outro {
  font-family: "Fragment_Mono", monospace;
  font-size: 0.85rem;
  color: #323641;
  line-height: 1.5;
  margin: 0;
  white-space: pre-line;
}

/* SECTION CARD */
.section-card {
  display: flex;
  flex-direction: column;
}

/* SECTION LAYOUT */
.section-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* TEXT */
.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text h2 {
  font-family: "JetBrains_Mono", monospace;
  font-size: 1.4rem;
  margin: 0;
  color: #323641;
}

.text p {
  font-family: "Fragment_Mono", monospace;
  font-size: 0.85rem;
  margin: 0;
  color: #323641;
  line-height: 1.5;
  white-space: pre-line;
}

/* IMAGE */
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  gap: 1rem;
  justify-content: start;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
}

.img-wrapper img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.img-wrapper .caption {
  font-size: 0.75rem;
  color: #555;
  text-align: left;
}

@media (max-width: 768px) {
  .images {
    grid-template-columns: 1fr;
  }
}

/* CLICKABLE IMAGE */
.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable:hover {
  transform: scale(1.02);
}

/* MODAL */
.image-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 2rem;
}

.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 12px;
}
