.header {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  color: #323641;
}

.header-left {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "JetBrains_Mono";
}

.header-right {
  display: flex;
  gap: 14px;
}

.nav-btn {
  background: transparent;
  border: none;
  font-family: "JetBrains_Mono";
  font-size: 15px;
  font-weight: 400;

  padding: 6px 10px;
  border-radius: 999px;
  cursor: pointer;

  transition: transform 0.15s ease;
}

.nav-btn:hover {
  transform: translateY(-1px);
  text-decoration: underline;
}

.nav-btn.active {
  background-color: #d2e06e;
  text-decoration: underline;
  transform: translateY(-1px);
}
