.header {
  background-color: #f1e8c7;
  width: 100%;
  height: 50px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;

  height: 2px;
  background-color: #9ca764;
  border-radius: 2px;
  opacity: 0.8;
}

.header-left {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Mynerve";
}

.header-right {
  display: flex;
  gap: 14px;
}

.nav-btn {
  background: transparent;
  border: none;
  color: #473f34;
  font-family: "Funnel_Display";
  font-size: 15px;
  font-weight: 400;

  padding: 6px 10px;
  border-radius: 999px;
  cursor: pointer;

  transition:
    background-color 0.2s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

/* fake bold */
.nav-btn:hover {
  background-color: rgba(156, 167, 100, 0.5);
  text-shadow: 0.75px 0 0 currentColor;

  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.nav-btn.active {
  background-color: #9ca764;
  text-shadow: 0.75px 0 0 currentColor;

  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
