@font-face {
  font-family: "Fragment_Mono";
  src: url("assets/fonts/Fragment_Mono/FragmentMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains_Mono";
  src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Famulred";
  src: url("assets/fonts/famulred.regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:host {
  display: block;
  //height: 100vh;
  //margin: 0;
}

.main-layout {
  display: flex;
  height: calc(100vh - 50px); // 50px to wysokość headera
}

.main-content {
  flex: 1;
  overflow-y: auto;
}
